<template>
  <div class="news-list-div container">
    <card-content
      class="news-single-div"
      v-for="(bookmark,index) in bookMarkInfo"
      :newsCardDetails="bookmark"
      :key="index" :newsIndex="index"
    ></card-content>

    <div class="bookmark-div" v-if="bookMarkInfo.length === 0">
      No Bookmarks!!!
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import CardContent from "../CardContent/CardContent.vue";

export default {
  components: {
    CardContent,
  },
  computed: {
    ...mapGetters(["bookMarkInfo"]),
  },
};
</script>

<style scoped>
.news-list-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.news-single-div {
  width: 31%;
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 30px;
}

.bookmark-div {
  text-align: center;
  background-color: #2196f3;
  padding: 25px;
  width: 100%;
  color: white;
}

@media only screen and (max-width: 709px) {
  .news-list-div {
    display: flex;
    flex-direction: column;
  }
  .news-single-div {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 710px) and  (max-width: 1000px){
  .news-single-div {
    width: 45%;
    background-color: white;
    border-radius: 4px;
    margin-top: 20px;
  }
}
</style>