<template>
  <div class="home-panel">
    <select
      class="dropdown-form"
      name="country"
      id="country"
      v-model="countryFilter"
    >
      <option :value="0">Select Country</option>
      <option
        v-for="country in countryList"
        :key="country.value"
        :value="country.value"
      >
        {{ country.name }}
      </option>
    </select>
    <select
      class="dropdown-form"
      name="category"
      id="category"
      v-model="categoryFilter"
    >
      <option :value="0">Select Category</option>
      <option
        v-for="category in categoryList"
        :key="category.value"
        :value="category.value"
      >
        {{ category.name }}
      </option>
    </select>

    <input
      class="textbox-form"
      type="text"
      id="keywords"
      name="keywords"
      v-model="keywordsFilter"
      placeholder="keywords(Optional)"
    />
    <div class="search-button-div">
      <button class="search-image-div yes" @click="filterNewsByCountry">
        <img class="search-image" :src="searchImgSrc" />
      </button>
      <button class="search-image-div">
        <img class="search-image" :src="listImageSrc" />
      </button>
    </div>
  </div>
</template>

<script>
import categories from "../../data/categories.json";
import countries from "../../data/countries.json";
import { mapGetters } from "vuex";
import searchImage from "../../assets/search-3-16.png";
import listImage from "../../assets/list.png";

export default {
  data() {
    return {
      searchImgSrc: searchImage,
      listImageSrc: listImage,
      countryFilter: "0",
      categoryFilter: "0",
      keywordsFilter: "",
      categoryList: categories,
      countryList: countries,
    };
  },
  computed: {
    ...mapGetters([
      "newsList",
      "isFilterSearch",
      "newsListStore",
      "newsFilterStore",
      "bookMarkInfo",
    ]),
    newsList() {
      return !this.isFilterSearch ? this.newsListStore : this.newsFilterStore;
    },
  },
  methods: {
    filterNewsByCountry() {
      if (
        this.countryFilter.toString() === "0" &&
        this.categoryFilter.toString() === "0"
      ) {
        this.$store.dispatch("setfilterkeywords", this.keywordsFilter);
        this.$store.dispatch("setfilterCategory", this.categoryFilter);
        this.$store.dispatch("setfilterCountry", this.countryFilter);
        this.$store.dispatch("setNewsListData");
      } else {
        this.$store.dispatch("setfilterCategory", this.categoryFilter);
        this.$store.dispatch("setfilterCountry", this.countryFilter);
        this.$store.dispatch("setfilterkeywords", this.keywordsFilter);
        this.$store.dispatch("setFilterNewsData");
      }
    },
  },
};
</script>

<style scoped>
.search-image-div {
  width: 40px;
  height: 40px;
  background-color: hsl(210deg 10% 23%);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.search-image {
  margin-top: 7px;
}

.textbox-form {
  height: 40px;
  width: auto;
  border-radius: 5px;
  border: none;
  padding: 0px 10px;
}

.dropdown-form {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.home-panel {
  overflow: hidden;
  background-color: hsl(0deg 0% 66%);
  padding: 10px 10px;
  text-align: center;
}

.search-button-div {
  display: inline-block;
  position: absolute;
  margin-left: 5px;
}
</style>
