<template>
  <div>
    <search-filter></search-filter>
    <div class="filter-div" v-if="isFilterDivShow">
      No data found from filter you applied.
    </div>
    <div class="container" v-if="newsList.length > 0">
      <div class="search-count-div">
        <h3>{{ newsCount }} News Result(s)</h3>
      </div>
      <news-list :newsList="newsList"></news-list>
      <button
        class="goto-btn load-more-btn"
        @click="loadMore"
        v-if="checkLoadMore"
      >
        Load More
      </button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import categories from "../../data/categories.json";
import countries from "../../data/countries.json";
import SearchFilter from "../SearchFilter/SearchFilter.vue";
import NewsList from "../News/News.vue";

export default {
  components: {
    NewsList,
    SearchFilter,
  },
  data() {
    return {
      showMoreByFilter: false,
      currentPageNews: 1,
      currentPageFilterNews: 1,
      maxPerPage: 10,
      searchImgSrc: "src/assets/search-3-16.png",
      listImageSrc: "src/assets/list.png",
      keywords: "",
      categoryList: categories,
      countryList: countries,
    };
  },
  computed: {
    ...mapGetters([
      "newsListStore",
      "newsFilterStore",
      "bookMarkInfo",
      "newsListCount",
      "newsFilterCount",
      "isFilterDivShow",
      "isFilterSearch",
      "filterCountry",
      "filterCategory",
    ]),

    checkPageCount() {
      return this.currentPageNews * this.maxPerPage < this.newsCount;
    },
    checkFilterPageCount() {
      return this.currentPageFilterNews * this.maxPerPage < this.newsCount;
    },
    newsList() {
      return !this.isFilterSearch ? this.newsListStore : this.newsFilterStore;
    },
    newsCount() {
      return !this.isFilterSearch ? this.newsListCount : this.newsFilterCount;
    },
    checkLoadMore() {
      return this.showMoreByFilter
        ? this.checkFilterPageCount
        : this.checkPageCount;
    },
  },
  methods: {
    loadMore() {
      if (
        this.filterCountry.toString() !== "0" &&
        this.filterCategory.toString() !== "0"
      ) {
        this.showMoreByFilter = true;
        this.currentPageFilterNews += 1;
        this.$store.dispatch(
          "setCurrentPageFilterNews",
          this.currentPageFilterNews
        );
        this.$store.dispatch("setFilterNewsData");
      } else {
        this.showMoreByFilter = false;
        this.currentPageNews += 1;
        this.$store.dispatch("setCurrentPageNews", this.currentPageNews);
        this.$store.dispatch("setNewsListData");
      }
    },
  },
};
</script>

<style scoped>
h3 {
  margin: 0;
}

.search-count-div {
  text-align: center;
}

.goto-btn {
  background-color: hsl(210deg 10% 23%);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
}

.goto-btn:hover {
  background-color: #2196f3;
}

.filter-div {
  text-align: center;
  background-color: #2196f3;
  padding: 15px;
  width: 100%;
  color: white;
}

.load-more-btn {
  margin-left: 20px;
}
</style>