<template>
  <div class="header container">
    <a class="logo">React News Search & Bookmark</a>
    <div class="header-right">
      <router-link to="/"> Top News </router-link>
      <router-link to="/Bookmark"> Bookmark </router-link>
    </div>
  </div>
</template>

<style scoped>
.header {
  overflow: hidden;
  background-color: hsl(210deg 10% 23%);
  padding: 10px 40px;
}

.header a {
  float: left;
  color: hsl(220deg 7% 82%);
  text-align: center;
  padding: 7px;
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 20px;
  font-weight: bold;
}

.header-right {
  float: right;
}

.router-link-exact-active {
  border-bottom: 5px solid #ccc;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
</style>