<template>
  <div>
    <div>
      <div>
        <img class="thumbnail-img" :src="newsCardDetails.urlToImage" />
      </div>
      <div class="info-container">
        <h3>{{ newsCardDetails.title }}</h3>
        <label>{{ newsCardDetails.author }}</label>
        <div>
          <router-link :to="{ path: '/Newsdetails/' + newsIndex }"
            ><button class="goto-btn">Go to Page</button></router-link
          >
          <img
            class="bookmark-img"
            v-if="isBookmarkShow(newsCardDetails.title)"
            @click="bookMarkList(newsCardDetails)"
            :src="bookmarkImagesrc"
          />
          <img
            class="bookmark-fill-img"
            v-else
            @click="removeBookmarkList(newsCardDetails.title)"
            :src="fillBookmarkImage"
          />
        </div>
      </div>
    </div>
    <div>
      <hr />
    </div>
    <div class="published-div">
      <label>Published:{{ newsCardDetails.publishedAt | formatDate }}</label>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import bookmarkImg from "../../assets/bookmark.png";
import bookmarkFillImg from "../../assets/fill_bookmark.png";

export default {
  props: ["newsCardDetails", "newsIndex"],
  data() {
    return {
      fillBookmarkImage: bookmarkFillImg,
      bookmarkImagesrc: bookmarkImg,
    };
  },
  computed: {
    ...mapGetters(["bookMarkInfo"]),
  },
  methods: {
    bookMarkList(newsCardDetails) {
      newsCardDetails.isBookmark = true;
      this.bookMarkInfo.push(newsCardDetails);
      this.$store.dispatch("setBookmarkList", this.bookMarkInfo);
    },
    removeBookmarkList(newsCardDetailsTitle) {
      const newFilteredBookmarkInfo = this.bookMarkInfo.filter(
        (bookmark) => bookmark.title !== newsCardDetailsTitle
      );
      this.$store.dispatch("setBookmarkList", newFilteredBookmarkInfo);
    },
    isBookmarkShow(title) {
      const bookmark = this.bookMarkInfo.filter(
        (bookmark) => bookmark.title === title
      );
      return bookmark.length === 0;
    },
  },
};
</script>

<style scoped>
.info-container {
  padding: 10px 20px;
  height: 180px;
}

.news-list-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-single-div {
  width: 31%;
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  margin-top: 20px;
}

.thumbnail-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.goto-btn {
  background-color: hsl(210deg 10% 23%);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.goto-btn:hover {
  background-color: #2196f3;
}

.bookmark-fill-img {
  width: 17px;
  height: 20px;
  float: right;
  margin-top: 20px;
  cursor: pointer;
}

.published-div {
  height: 30px;
  background-color: hsl(0deg 0% 97%);
  color: black;
  padding: 10px 15px;
}

hr {
  margin: 0em;
}

@media only screen and (max-width: 709px) {
  .news-list-div {
    display: flex;
    flex-direction: column;
  }
  .news-single-div {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 710px) and  (max-width: 1000px){
  .news-single-div {
    width: 45%;
    background-color: white;
    border-radius: 4px;
    margin-top: 20px;
  }
}
</style>