<template>
  <div class="news-list-div container">
    <card-content
      class="news-single-div"
      v-for="(news,index) in newsList"
      :newsCardDetails="news"
      :key="index" :newsIndex="index"
    ></card-content>
  </div>
</template>

<script>
import CardContent from "../CardContent/CardContent.vue";

export default {
  components: {
    CardContent,
  },
  props: ["newsList"],
};
</script>

<style>
.news-list-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-single-div {
  width: 31%;
  background-color: white;
  border-radius: 4px;
  margin-top: 20px;
}

.thumbnail-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.goto-btn {
  background-color: hsl(210deg 10% 23%);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
}

.goto-btn:hover {
  background-color: #2196f3;
}

.bookmark-img {
  width: 17px;
  height: 20px;
  float: right;
  margin-top: 20px;
  cursor: pointer;
}

.bookmark-fill-img {
  width: 30px;
  height: 20px;
  float: right;
  margin-top: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 709px) {
  .news-list-div {
    display: flex;
    flex-direction: column;
  }
  .news-single-div {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 710px) and  (max-width: 1000px){
  .news-single-div {
    width: 45%;
    background-color: white;
    border-radius: 4px;
    margin-top: 20px;
  }
}
</style>