<template>
  <div class="container" v-if="isShowCardContent">
    <div>
      <img class="thumbnail-img-details" :src="newsInfo.urlToImage" />
    </div>
    <div class="info_container">
      <h3>{{ newsInfo.title }}</h3>

      <p>{{ newsInfo.content }}</p>
      <p>{{ newsInfo.description }}</p>
      <label>{{ newsInfo.author }}</label>
      <router-link class="goto-btn" to="/">Go To Home</router-link>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters([
      "newsListStore",
      "newsFilterStore",
      "filterCountry",
      "filterCategory",
    ]),
    newsInfo() {
      if (
        this.filterCountry.toString() === "0" &&
        this.filterCategory.toString() === "0"
      ) {
        return this.newsListStore.find(
          (element, index) => index === parseInt(this.$route.params.id)
        );
      } else {
        return this.newsFilterStore.find(
          (element, index) => index === parseInt(this.$route.params.id)
        );
      }
    },
    isShowCardContent() {
      return this.$route.name === "Newsdetails";
    },
  },
};
</script>

<style  scoped>
.thumbnail-img-details {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.goto-btn {
  background-color: hsl(210deg 10% 23%);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  font-size: 13px;
}

.goto-btn:hover {
  background-color: #2196f3;
}
</style>