<template>
  <div :class="{'overlay':isLoaderShow}">
    <the-header></the-header>
    <div>
      <keep-alive>
        <router-view> </router-view>
      </keep-alive>
    </div>
     <div class="loader" v-if="isLoaderShow"></div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import TheHeader from "./components/Header/Header.vue";

export default {
  components: {
    TheHeader,
  },
  computed:{
    ...mapGetters(["isLoaderShow"])
  },
  beforeMount() {
    this.$store.dispatch("setNewsListData");
  },
 
};
</script>

<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: hsl(0deg 0% 80%);
}

.container {
  padding: 20px 20px;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #353b41;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.overlay{
pointer-events: none;
opacity: .75;
}
</style>